name: PROD | Publish Docker image
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  release:
    types:
      - published
jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - uses: benjlevesque/short-sha@v3.0

      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.TOKEN }}

      - uses: docker/setup-buildx-action@v3

      - name: Build container image
        uses: docker/build-push-action@v5
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: Dockerfile
          push: true
          tags: ghcr.io/cjvtul/kost-concordancer:prod
          build-args: |
            NEXT_PUBLIC_VERSION_REF=${{ env.SHA }}
